@model NEXT_BMS.Models.RoomPropertyType
@using Insya.Localization;
@{ViewData["id"]=Model.Id;}
@await Html.PartialAsync("Controls/_Common")
<div class="card border-start border-start-width-2 border-start-secondary border-end border-end-width-1 border-end-secondary rounded-0">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">
            @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
        </h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-danger">
            <span class="fw-semibold">Deleting!</span> Are you sure you want to delete this?
            <i class="ph-x-circle float-end ms-2"></i>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-xs">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Name)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.Name)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.IsActive)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.IsDeleted)
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
