@model NEXT_BMS.Models.MaintenanceRequest
@using Insya.Localization;
@{ViewData["id"]=Model.Id;}
@await Html.PartialAsync("Controls/_Common")
<div class="card border-start border-start-width-2 border-start-secondary border-end border-end-width-1 border-end-secondary rounded-0">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">
            @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
        </h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-xs">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Description)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.Description)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.DateSubmitted)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.DateSubmitted)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.IsActive)
                        </th>
                    </tr>
                  
                   
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.MaintenanceStatus)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.MaintenanceStatus.Name)
                        </th>
                    </tr>
                   
                </table>
            </div>

            <div class="col-md-6">
                <table class="table table-xs">
                  
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.MaintenanceType)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.MaintenanceType.Name)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Room)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.Room.Description)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.User)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.User.Email)
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
