@model IEnumerable<NEXT_BMS.Models.MaintenanceRequest>
@using Insya.Localization;
@{

    string searchValue = ViewData["SearchValue"] != null ? ViewData["pageName"].ToString() : "";

    string action = ViewData["Action"] != null ? ViewData["Action"].ToString() : "Index";

    string size_Of_Page = Context.Session.GetString("Size_Of_Page") != null ? Context.Session.GetString("Size_Of_Page") : "10";

    List<string> pa = new List<string>() { "10", "20", "50", "100", "1000" };
}

<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">
            @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
        </h5>
        <div class="header-elements">
         
        </div>
    </div>
    <div class="card-body p-1">
         <table class="table datatable-init no-footer table-xs table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.FirstName)

                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.Room)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceType)
                    </th>
                   
                   
                    <th>
                        @Html.DisplayNameFor(model => model.DateSubmitted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th class="p-0 nosort text-center" style="width: 30px;"><i class="icon-menu-open2"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Room.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.MaintenanceStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaintenanceType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateSubmitted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            <a asp-action="DetailsAllocation" asp-controller="MaintenanceRequests" asp-route-id="@item.Id" class="btn btn-info btn-sm" style="width: auto; border-radius: 3px;">
                                Detalis
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


