@model NEXT_BMS.Models.BuildingRequest
@using Insya.Localization;
@{
    ViewData["id"] = Model.Id;
}
@{
    ViewData["Title"] = "Details";
}
@await Html.PartialAsync("Controls/_Common")


<div class="card">
    <div class="card-header bg-light header-elements-inline py-2">
        <h5 class="card-title">
            @Html.Raw(Localization.Get(ViewData["action"].ToString())) | @Html.Raw(Localization.Get(ViewData["pageName"].ToString()))
        </h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
        </div>
   <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-xs">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Description)  

                        </td>
                        <th>
                            @Html.DisplayFor(model => model.Description)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Amount)  

                        </td>
                        <th>
                            @Html.DisplayFor(model => model.Amount)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.RequestedDate) 

                        </td>
                        <th>
                            @Html.DisplayFor(model => model.RequestedDate)
                        </th>
                    </tr>
                   
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.IsDeleted)  

                        </td>
                        <th>
                            @Html.DisplayFor(model => model.IsDeleted)
                        </th>
                    </tr>
                   
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.BuildingType) 

                        </td>
                        <th>
                            @Html.DisplayFor(model => model.BuildingType.Name)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Location) 

                        </td>
                        <th>
                            @Html.DisplayFor(model => model.Location.Name)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.RequestStatus)  

                        </td>
                        <th>
                            @Html.DisplayFor(model => model.RequestStatus.Name)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.User) 

                        </td>
                        <th>
                            @Html.DisplayFor(model => model.User.FirstName)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </td>
                        <th>
                            @Html.DisplayFor(model => model.IsActive)
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
    </div>
</div>