@model IEnumerable<NEXT_BMS.Models.BuildingRequest>

@{
    ViewData["Title"] = "Index";
}



<div class="card">
    <div class="card-header bg-light header-elements-inline py-2">
      
        <h4 class="card-title">
            List Of Building Requests
        </h4>

        <div class="header-elements">
            <a asp-action="Create" class="btn btn-success btn-sm">
                <i class="icon-plus22"> </i> Create New
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RequestedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.BuildingType)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.RequestStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>

                    <th class="text-right" style="width: 30px;"><i class="icon-menu-open2"></i></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="text-info-800"> @Html.DisplayFor(modelItem => item.User.FirstName)  </a>
  
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestedDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => item.BuildingType.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.RequestStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>

                        <td class="text-right">
                            <div class="list-icons">
                                <div class="list-icons-item dropdown">
                                    <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item"><i class="icon-list3"></i>view </a>

                                        <div class="dropdown-divider"></div>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item"><i class="icon-pencil7"></i> edit </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item"><i class="icon-cross2"></i> delete </a>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
</div>
<div class="card-footer">

</div>
</div>