@using Insya.Localization
<div class="btn-group btn-group-sm" role="group" aria-label="First group">
    <a href="@Url.Action("Index", @ViewData["pageName"].ToString())" class="btn btn-info mr-1">
        <span class="icon-arrow-left16"></span> <span class="hidden-xs">@Html.Raw(Localization.Get("backtolist"))</span>
    </a>

    <a href="@Url.Action("Create", @ViewData["pageName"].ToString())" class="btn btn-primary mr-1"><i class="icon-plus2"></i> <span class="hidden-xs">@Html.Raw(Localization.Get("create"))</span></a>


    <a href="@Url.Action("Delete", @ViewData["pageName"].ToString(), new { id = @ViewData["id"] })" class="btn btn-danger mr-1">
        <span class="icon-folder-remove"></span> <span class="hidden-xs">@Html.Raw(Localization.Get("delete"))</span>
    </a>

    <a href="@Url.Action("Edit", @ViewData["pageName"].ToString(), new { id = @ViewData["id"] })" class="btn btn-warning mr-1">
        <span class="icon-pencil7"></span> <span class="hidden-xs">@Html.Raw(Localization.Get("edit"))</span>
    </a>
</div>






