@model NEXT_BMS.Models.RoomRental
@using Insya.Localization
@using Microsoft.Extensions.Options

@{
    ViewData["Title"] = "Details";
}

    @foreach (var payment in Model.RoomRentalPayments)
    {
        <tr>
            <td>@payment.PaymentType.Name</td>
            <td>@payment.PaymentMode.Name</td>
            <td>@payment.PaidDate</td>
            <td>@payment.TotalAmount</td>
            <td>@payment.InvoiceNumber</td>
        </tr>
    }


@section Scripts {
    <script>
      

    </script>
}